* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #3c4043;
}

.container {
    width: 70%;
    margin: 0 auto;
}

p {
    margin: 2em 0;
}

a {
    text-decoration: none;
    color: #3367d6;
}

ol {
    padding-left: 1.1em;
}

ul {
    padding-left: 1.1em;
}

li {
    margin: 0.8em 0;
}