* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #3c4043;
}

/* header */
.header-container {
    border-bottom: 1px solid rgba(151,151,151,0.5);
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 1.5em 2em 0 2em;
}

.header-top {
    display: flex;
    padding-bottom: 0.8em;
}

.header-top h1 {
    color: #5f6368;
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 0.3em;
}

.header-list {
    list-style-type: none;
}

.header-list li {
    display: inline-block;
    margin-right: 2em;
    color: #5f6368;
    padding-bottom: 0.5em;
}

li.active {
    color: #3367d6;
    border-bottom: 2px solid #3367d6;
}

/* main */
.container {
    width: 70%;
    margin: 0 auto;
    padding-top: 8em;
}

p {
    margin: 2em 0;
}

a {
    text-decoration: none;
    color: #3367d6;
}

ol {
    padding-left: 1.1em;
}

.container li {
    margin: 0.8em 0;
}

/* footer */
footer {
    background-color: #f5f5f5;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.footer-container li {
    display: inline-block;
    font-size: 0.6em;
    padding-right: 0.8em;
}

.footer-container a {
    color: rgba(61,61,61,.8);
}

.footer-container .footer-right {
    display: flex;
    align-items: center;
}

.footer-right i {
    padding-right: 0.7em;
}

